@import 'src/assets/scss/colors.scss';

mat-form-field {
    width: 100%;
}

.input-icon {
    font-size: 15px;
    padding: 12px 0px 12px 12px !important;
    line-height: 1.7;
    text-align: center;
}