@use '@angular/material' as mat;
@include mat.core();
@import 'src/assets/scss/colors.scss';

/*The mat-palette function accepts five parameters: 
  1 color palette, 
  the other three being the
     2 main shade, 
     3 the lighter shade, 
     4 the darker shade(in sequence) 
  5 the last being text color*/
$mike-gym-primary: mat.define-palette(mat.$red-palette, 700, 700, 700);
$mike-gym-accent: mat.define-palette(mat.$gray-palette, 200, 200, 200);

$mike-gym-warn: mat.define-palette(mat.$red-palette, 900, 900, 900);

$mike-gym-theme: mat.define-light-theme((color: (primary: $mike-gym-primary,
        accent: $mike-gym-accent,
        warn: $mike-gym-warn,
      )));

@include mat.all-component-themes($mike-gym-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $dark-primary !important;
}